@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme{
  /* ==========================
  Font Family
  ============================= */
  --font-sans: "Satoshi", var(--font-default-sans);

  /* ==========================
  Colors
  ============================= */
  --color-primary: #5750F1;
  --color-stroke: #E6EBF1;
  --color-stroke-dark: #27303E;

  --color-dark: #111928;
  --color-dark-2: #1F2A37;
  --color-dark-3: #374151;
  --color-dark-4: #4B5563;
  --color-dark-5: #6B7280;
  --color-dark-6: #9CA3AF;
  --color-dark-7: #D1D5DB;
  --color-dark-8: #E5E7EB;

  --color-gray: #EFF4FB;
  --color-gray-dark: #122031;

  /* ==========================
  Screens (breakpoints)
  ============================= */
    --screen-2xsm: 375px;
  --screen-xsm: 425px;
  --screen-3xl: 2000px;

  /* ========================
     Font Size
  ========================= */
  --text-heading-1: 60px 72px;
  --text-heading-2: 48px 58px;
  --text-heading-3: 40px 48px;

  /* ========================
     Spacing
  ========================= */
  --spacing-4_5: 1.125rem;
  --spacing-5_5: 1.375rem;
  --spacing-6_5: 1.625rem;

  /* ========================
     Shadows
  ========================= */
  --shadow-default: 0px 4px 7px rgba(0,0,0,0.14);
}

@theme inline {
  --color-stroke-dark: #3a3a3a;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --current: "currentColor";
  --transparent: "transparent";
  --white: "#FFFFFF";
  --primary: "#5750F1";
  --stroke: "#E6EBF1";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0f0f0;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
}

.custom-scrollbar {
  @apply overflow-auto;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply size-2;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply relative flex-1 rounded-full bg-neutral-200/40 dark:bg-stroke-dark;
}
